.OrderDetailsComponent {
  width: 50%;
  margin: 0 auto;
  background-color: white;
  border: 1px solid #ddd;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 3em;
  padding-right: 3em;
  margin-bottom: 3em;

  .user_data {
    width: 90%;
  }
}
