.sidebar-order{
     width: 304px;
     line-height: 25px;
     border-color: #bbbbbb;
     border-width: 1px;
     border-style: solid;
     padding: 5px 10px;
    .delivery-point{
        width: 250px;        
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 12px;
        white-space: nowrap;
        display: block;
    }
    // .delivery-point:after{
    //     content: "";
	//     pointer-events: none;
	//     position: absolute;
	//     width: 100px;
	//     height: 100%;
	//     top: 0; right: 0;
    //     background-image: -webkit-linear-gradient(right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
	//     background-image: -moz-linear-gradient(right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
	//     background-image: -ms-linear-gradient(right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
	//     background-image: -o-linear-gradient(right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
	//     background-image: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    // }
    .vehicle-icon{
        width: 2em;
    }
    .pin-icon{
        height: 1.5em;
    }
    .red{
        color: red;
    }
    .yellow{
        color: yellow;
    }
    .primary{
       color: green;
    }
    .purple {
        color: purple;
    }
    .blue {
        color: blue;
    }
    .item_count_label {
        position: relative;
        padding-right: 10px;
        span {
          position: absolute;
          left:0;
          top: 1px;
          right: 0;
          bottom: 0;
          width: 24px;
          text-align: center;
          color: #ffffff;
          font-size: 10px;
        }
      }
    .float-right {
        display: inline-block;
        float: right;
    }  
}