$dook-green: #60285E;
$dook-navbar: #fff;

$dook-navbar-item-hover: #bfbfbf;
$dook-navbar-item-hover-old: #4a2348;

$nav-text-color: rgba(39, 37, 37, 1);
$body-background-color: #f3f6f9;
$nav-btn-active-color: #ef7b48;
$half-circle-btn-size: 4em;
