@import '../../styles/var.scss';

.SettingsComponent {
  width: 80%;
  margin: 0 auto;
  .setAsDefault{
    line-height:40px;
    input{
      margin-right:20px;
    }
  }
  .company_table.companies_table.table-fixedheader{
    thead{
      tr{
        th{
          width:50%;
        }
      }
    }
    tbody{
      tr{
        td{
          width:50%;
        }
      }
    }
  }
  .company_table.table-fixedheader-bill-table, .company_table.table-fixedheader_bill{
    text-align:center;
    font-size:12px;
    thead{
      th{
        text-align:center;
        padding:10px;
        font-size:12px;
      }
    }
  }
  .checkbox {
    margin-left: 20px;
  }

  .page-header {
    text-align: center;
  }

  .settings_left_menu {
    width: 100%;
    cursor: pointer;
  }

  .settings_content {
    width: 100%;
    border-radius: 4px;

    .item_head_title {
      color: $dook-green;
      text-align: center;
      margin-top: 1em;
    }
    .billing_detail{
      text-align: center;

      .billing_detail_label{
        float:left;
        margin: 0px;
        line-height: 35px;
        font-weight: 300;
        h4{
          line-height: 35px;
          font-weight: 300;
          margin: 0px;
        }
      }
      .due_balance{
        font-weight: 300;
        float: right;
        line-height: 35px;
        h4{
          line-height: 35px;
          font-weight: 300;
          margin: 0px;
        }
      }
      .pay_now{
        float: right;
        margin-left: 1em;
        height: 35px;
        border-radius: 0;
        background: #ed794f;
        border: none;
        padding: 6px 30px;
      }
    }
  }

  .jumbotron {
    border-radius: 4px;
    background-color: white;
    border: 1px solid #ddd;
    padding: 1em;
  }

  .multi_select {
    display: inline-block;
    width: 85%;
  }

  #formControlsSelectMultiple {
    background-color: #F3F6F9;
    min-height: 10em;
  }

  .teamlist_controls {
    margin-top: 50%;

    .teamlist_button_container {
      text-align: center;
      padding: 1em;

      &:first-child {
        button {
          &:before{
            content: "▶";
          }
        }
      }

      &:last-child {
        button {
          &:before{
            content: "◀";
          }
        }
      }
    }
    button {
      background-color: transparent;
      color: #4d4d4d;
    }
  }



  .milti_controls {
    display: inline-block;
    position: absolute;
    margin-left: 1em;

    .multi_btn {
      display: block;
      width: 2.5em;
      height: 2.5em;
    }
  }

  .user_profile, .company_profile, .dispatcher_profile, .operator_profile {

    .avatar {
      margin-top: 1em;
      margin-bottom: 2em;
      display: block;
      width: 9em;
      height: 9em;
    }

    .avatar_img {
      width: 9em;
      height: 9em;
      border-radius: 5em;
      border: 1px solid grey;
      position: absolute;
    }

    .user_data {
      width: 90%;
    }

    input {
      background-color: #f3f6f9;
      color: gray!important;
    }
  }

  .edit_link {
    position: absolute;
    top: 1em;
    right: 3em;

    a {
      color: gray;
      cursor: pointer;
    }
  }

  .actions {

    button {
      margin: 0.5em;
    }
    text-align: center;
  }

  .active {
    background-color: $dook-green!important;
    border-color: $dook-green!important;
  }

  .new_reports {
    .page-header {
      display: none;
    }
    .report_list_container {
      width: 50%;
    }
  }

  .table_container {

      width: 100%;
      clear: both;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
      display: inline-block;
      margin-bottom: 2em;

    .company_table {
      width: 100%;

      thead {
        color: #60285E;
        border-bottom: 1px solid #ccc;
        width: 97.3%;

        th {
          padding-bottom: 5px;
          padding-left: 12px;
        }
      }

      tbody {
        background-color: white;
        user-select: none;
        cursor: pointer;

        td {
          max-width: 15em;
        }

        .active {
          background-color: #337ab7;
          color: white;
        }
      }
    }
    .table-fixedheader_bill tbody tr td:first-child{
      background: #f3f6f9;
      border-right: solid 1px #ccc;
    }
    .table-fixedheader_bill tbody tr.total{
      border-top: solid 2px #8f5f8a;
      font-weight: 700;
    }
  }
  .table-fixedheader_bill-table{

  }
  .table-fixedheader_bill>thead span{
    font-weight:500;
  }
  .table-fixedheader,
  .table-fixedheader>thead,
  .table-fixedheader>tbody,
  .table-fixedheader>thead>tr,
  .table-fixedheader>tbody>tr,
  .table-fixedheader>thead>tr>th,
  .table-fixedheader>tbody>td {
    display: block;
  }

  .table-fixedheader>thead>tr:after,
  .table-fixedheader>tbody>tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
  }

  .table-fixedheader>tbody {
    overflow-y: scroll;
    height: 15em;
  }

  .table-fixedheader>thead>tr>th {
    max-width: 15em;
    width: 27%;
    float: left;
  }
  .table-fixedheader>tbody>tr>td {
    width: 33%;
    float: left;
  }

  .table-fixedheader-bill-table,
  .table-fixedheader-bill-table>thead,
  .table-fixedheader-bill-table>tbody,
  .table-fixedheader-bill-table>thead>tr,
  .table-fixedheader-bill-table>tbody>tr,
  .table-fixedheader-bill-table>thead>tr>th,
  .table-fixedheader-bill-table>tbody>td {
    display: block;
  }
  .table-fixedheader-bill-table>thead{
    width: 100%!important;
  }
  .table-fixedheader-bill-table>thead>tr:after,
  .table-fixedheader-bill-table>tbody>tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
  }

  .table-fixedheader-bill-table>tbody {
    overflow-y: scroll;
    height: 15em;
  }

  .table-fixedheader-bill-table>thead>tr>th {
    max-width: 15em;
    width: 25%;
    float: left;
    text-align: center !important;
  }
  .table-fixedheader-bill-table>tbody>tr>td {
    width: 25%;
    float: left;
    text-align: center;
  }
  .table-fixedheader-bill-table>tbody>tr>td.new{
    color:black;
  }
  .table-fixedheader-bill-table>tbody>tr>td.unpaid{
    color:red;
  }
  .table-fixedheader-bill-table>tbody>tr>td.paid{
    color:green;
  }

  .avatar {
    position: relative;
    input[type=file] {
      position: absolute;
      top:0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      cursor: pointer;
      opacity: 0;
      z-index: 9;
    }

    .avatar-edit {
      display: none;
      position: absolute;
      font-size: 3em;
      color: white;
      left: 50%;
      top: 30%;
      transform: translate(-50%, 0);
      z-index: 1;
    }

    &:hover {
      .avatar_img_edit {
        filter: blur(5px);
      }

      .avatar-edit {
        display: block;
      }
    }
  }

  .cities_autocomplette {
    height: 13em;
    position: absolute;
    z-index: 100;

    .cities_autocomplette_scrollable {
      max-height: 100%;
      overflow: auto;
    }
  }

  .back_link {
    float: left;
    padding-top: 1em;
    color: black;
  }

}


